@media only screen and (max-width: 600px) {
  .swal2-popup {
    width: 500px !important;
    font-size: 8px !important;
  }
  nav {
    padding: 0 !important;
  }
  .navbar-brand {
    font-weight: 600;
    font-size: 22px !important;
  }
  .hero-heading {
    width: auto;
    line-height: 40px;
    font-size: 32px;
  }
  .hero-sub-heading {
    width: auto;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.5px;
  }
  .btn-primary {
    font-size: 18px !important;
    font-weight: 500 !important;
  }
  .btn-primary:hover {
    transition: 0.4s;
    border-color: #6246ea !important;
    background-color: #6246ea !important;
  }
  #whyUs h1 {
    line-height: 50px;
    font-size: 40px;
    text-align: center;
  }
  .why-us-icon-cards {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  #my-products h6 {
    visibility: visible !important;
    font-size: 20px;
    font-weight: 600;
    color: var(--bg-color);
  }
  .my-maps {
    border-radius: 20px !important;
    width: 300px !important;
    height: 250px !important;
  }
  #myFooter {
    background-image: url(/assets/img/footer-bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 60px;
  }
  .footer-text {
    text-align: center;
    font-family: var(--font-2);
    color: var(--bg-color);
  }
}
