@media only screen and (max-width: 600px) {
  .navbar-brand-logo {
    width: 60px;
    height: 60px;
  }
  #myHero {
    display: flex;
    width: auto;
    height: auto;
    background-image: linear-gradient(#272343bc, #272343ec),
      url("/assets/img/hero-img.jpg");
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero-title {
    font-size: 32px;
    font-weight: 600;
  }
  .hero-paragraph {
    font-size: 14px;
    color: var(--text-1-color);
  }
  .btn-primary {
    background-color: var(--button-color) !important;
    border-color: var(--button-color) !important;
    color: var(--button-text) !important;
    font-size: 18px !important;
    font-weight: 500 !important;
  }

  .btn-primary:hover {
    transition: 0.4s;
    border-color: #c66900 !important;
    background-color: #c66900 !important;
  }
  #whyUs h2 {
    font-size: 34px;
    font-weight: 700;
    color: #890620;
    text-align: center;
  }
}
