/* Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

:root {
  --bg-color: #fffffe;
  --button-color: #6246ea;
  --button-text: #fffffe;
  --headline-color: #2b2c34;
  --paragraph-color: #2b2c34;
  --text-1-color: #fffffe;
  --tertiary-color: #e45858;
  --main-font: "Open Sans", sans-serif;
}

body {
  position: relative;
  width: 100%;
  height: auto;
  font-family: var(--main-font) !important;
  background-color: var(--bg-color) !important;
}

/* Whatsapp Button */

.float-button {
  text-decoration: none;
  position: fixed;
  padding: 10px;
  padding-right: 15px;
  bottom: 30px;
  right: 30px;
  color: #fff;
  background-color: #25d366;
  border-radius: 25px 30px 5px 25px;
  z-index: 100;
  font-family: var(--main-font) !important;
  font-size: 17px;
  animation: whatsapp-animation 1.4s infinite ease-in-out alternate;
  box-shadow: 1px 2px 5px 2px rgba(30, 30, 30, 0.3);
  transition: all 0.3s ease-out;
}

.float-button:hover {
  background-color: #128c7e;
  color: #fff;
}

.ai-whatsapp-fill {
  font-size: 20px !important;
  padding-right: 5px;
  padding-left: 5px;
}

@keyframes whatsapp-animation {
  from {
    transform: translatey(0px);
  }
  to {
    transform: translatey(-10px);
  }
}

@media screen and (max-width: 600) {
  span {
    display: none;
  }

  .float-button {
    bottom: 15px;
    right: 15px;
    width: 20px;
    border-radius: 20px 20px 5px 20px !important;
  }

  .ai-whatsapp-fill {
    font-size: 22px !important;
    padding: 4px;
  }
}

/* Whatsapp Button End */

/* Navbar */

.navbar-brand-logo {
  width: 80px;
  height: 80px;
}

.nav-link {
  margin: 0 10px 0 10px;
  text-transform: uppercase;
  font-weight: 400 !important;
  font-size: 14px !important;
  letter-spacing: 0.5px;
  font-weight: 700 !important;
  color: #272343a3 !important;
}

.nav-link:hover {
  color: var(--headline-color) !important;
  transition: 0.7s;
}

.active {
  color: var(--headline-color) !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-item {
  color: #272343a3 !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  font-size: 14px !important;
}

.dropdown-item:hover {
  background-color: transparent !important;
  color: var(--headline-color) !important;
  transition: 0.7s;
}

.navbar-toggler {
  border: transparent !important;
}

.trigger {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  border: 2px solid var(--headline-color);
  border-radius: 10px;
  transform: translateX(-50%) translateY(-50%);
}

.bars {
  width: 50px;
  cursor: pointer;
}

.bars .line {
  fill: none;
  stroke: var(--headline-color);
  stroke-width: 5;
  stroke-linecap: square;
  transition: stroke-dasharray 600ms, stroke-dashoffset 600ms;
}
.bars .line.top {
  stroke-dasharray: 40 172;
}
.bars .line.middle {
  stroke-dasharray: 40 111;
}
.bars .line.bottom {
  stroke-dasharray: 40 172;
}
.bars.active .top {
  stroke-dashoffset: -132px;
}
.bars.active .middle {
  stroke-dashoffset: -71px;
}
.bars.active .bottom {
  stroke-dashoffset: -132px;
}

button:active,
button:focus,
button.active,
button:active:focus {
  background-image: none !important;
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* Navbar End */

/* My Hero */

#myHero {
  display: flex;
  width: auto;
  height: 450px;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#272343b7, #272343b7),
    url("/assets/img/hero-bg.jpg");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
}

.hero-title {
  font-size: 48px;
  color: var(--text-1-color);
  font-weight: 600;
}

.hero-paragraph {
  font-family: var(--paragraph-font);
  font-size: 18px;
  color: var(--text-1-color);
}

.btn-primary {
  align-items: center;
  text-align: center;
  background-color: transparent !important;
  border: 3px solid var(--button-color) !important;
  border-color: var(--button-color) !important;
  color: var(--button-text) !important;
  font-size: 22px !important;
  border-radius: 30px !important;
  font-weight: 500 !important;
}

.btn-primary:hover {
  transition: 0.4s;
  border-color: var(--button-color) !important;
  background-color: var(--button-color) !important;
}

.btn:active,
.btn:focus,
.btn.active,
.btn:active:focus {
  background-image: none !important;
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* Hero End */

/* Why Us */

.why-us-cards i {
  font-size: 30px;
}

#whyUs h2 {
  font-size: 48px;
  font-weight: 700 !important;
  color: #890620;
  text-align: center;
}

#whyUs h4 {
  font-weight: 600;
}

.why-us-desc {
  font-family: var(--paragraph-font) !important;
}

/* Why Us End */

/* Our Products */

#ourProducts {
  display: flex;
  width: auto;
  height: 450px;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#272343b7, #272343b7),
    url("/assets/img/product-bg.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

#ourProducts h2 {
  font-size: 48px;
  font-weight: 700 !important;
  color: var(--text-1-color);
}

.product-illustration {
  width: 70px;
}
