/* Font */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  user-select: none;
}

:root {
  --bg-color: #fffffe;
  --button-color: #6246ea;
  --button-text: #fffffe;
  --headline-color: #2b2c34;
  --tertiary-color: #e45858;
  --font-1: "Dosis", sans-serif;
  --font-2: "Bitter", serif;
}

body {
  position: relative;
  width: 100%;
  height: auto;
  font-family: var(--font-1) !important;
  background-color: var(--bg-color) !important;
  overflow-x: hidden !important;
}

/* Whatsapp Button */

.float-button {
  text-decoration: none;
  position: fixed;
  padding: 10px;
  padding-right: 15px;
  bottom: 30px;
  right: 30px;
  color: #fff;
  background-color: #25d366;
  border-radius: 25px 30px 5px 25px;
  z-index: 100;
  font-family: var(--font-1) !important;
  font-size: 17px;
  animation: whatsapp-animation 1.4s infinite ease-in-out alternate;
  box-shadow: 1px 2px 5px 2px rgba(30, 30, 30, 0.3);
  transition: all 0.3s ease-out;
}

.float-button:hover {
  background-color: #128c7e;
  color: #fff;
}

.ai-whatsapp-fill {
  font-size: 20px !important;
  padding-right: 5px;
  padding-left: 5px;
}

@keyframes whatsapp-animation {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateX(-10px);
  }
}

@media screen and (max-width: 600) {
  span {
    display: none;
  }

  .float-button {
    bottom: 15px;
    right: 15px;
    width: 20px;
    border-radius: 20px 20px 5px 20px !important;
  }

  .ai-whatsapp-fill {
    font-size: 22px !important;
    padding: 4px;
  }
}

/* Whatsapp Button End */

.swal2-popup {
  width: 800px !important;
  font-size: 14px !important;
  font-family: var(--font-1);
  background-color: var(--bg-color) !important;
  color: var(--headline-color) !important;
}

/* Header */

#myHeader {
  width: auto;
  background-image: url("/assets/img/hero-bg.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

nav {
  padding: 40px !important;
}

.navbar-brand {
  font-weight: 600;
  font-size: 24px !important;
  color: var(--bg-color) !important;
}

.change-colors {
  color: var(--button-color) !important;
}

.nav-link {
  margin: 0 10px 0 10px;
  text-transform: uppercase;
  font-weight: 400 !important;
  font-size: 14px !important;
  letter-spacing: 0.5px;
  font-weight: 700 !important;
  color: var(--bg-color) !important;
}

.nav-link:hover {
  color: var(--button-color) !important;
  transition: 0.7s;
}

.active {
  color: var(--button-color) !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-item {
  color: var(--headline-color) !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  font-size: 14px !important;
}

.dropdown-item:hover {
  background-color: transparent !important;
  color: var(--button-color) !important;
  transition: 0.7s;
}

.navbar-toggler {
  border: transparent !important;
}

.trigger {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  border: 2px solid var(--headline-color);
  border-radius: 10px;
  transform: translateX(-50%) translateY(-50%);
}

.bars {
  width: 50px;
  cursor: pointer;
}

.bars .line {
  fill: none;
  stroke: var(--bg-color);
  stroke-width: 5;
  stroke-linecap: square;
  transition: stroke-dasharray 600ms, stroke-dashoffset 600ms;
}
.bars .line.top {
  stroke-dasharray: 40 172;
}
.bars .line.middle {
  stroke-dasharray: 40 111;
}
.bars .line.bottom {
  stroke-dasharray: 40 172;
}
.bars.active .top {
  stroke-dashoffset: -132px;
}
.bars.active .middle {
  stroke-dashoffset: -71px;
}
.bars.active .bottom {
  stroke-dashoffset: -132px;
}

button:active,
button:focus,
button.active,
button:active:focus {
  background-image: none !important;
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.hero-text {
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
}

.hero-heading {
  width: 500px;
  line-height: 52px;
  font-size: 48px;
  color: var(--bg-color);
  font-weight: 700;
}

.hero-sub-heading {
  width: 400px;
  font-family: var(--font-2);
  font-size: 16px;
  font-weight: 400;
  color: var(--bg-color);
}

.btn-primary {
  align-items: center;
  text-align: center;
  background-color: transparent !important;
  border: 3px solid var(--button-color) !important;
  border-color: var(--button-color) !important;
  color: var(--button-text) !important;
  font-size: 22px !important;
  border-radius: 30px !important;
  font-weight: 500 !important;
}

.btn-primary:hover {
  transition: 0.4s;
  border-color: var(--button-color) !important;
  background-color: var(--button-color) !important;
}

.btn:active,
.btn:focus,
.btn.active,
.btn:active:focus {
  background-image: none !important;
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* Header End */

/* Why Us */

.why-us-icon-cards {
  border: transparent !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.why-us-icon-cards:hover {
  transition: 0.7s;
  transform: scale(1.1);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.why-us-card-text {
  font-family: var(--font-2);
  font-size: 15px;
  font-weight: 500;
}

#whyUs h1 {
  line-height: 52px;
  font-size: 44px;
  color: var(--headline-color);
  font-weight: 700;
}

#whyUs h4 {
  font-weight: 600;
}

.why-us-desc {
  font-family: var(--font-2) !important;
}

/* Why Us End */

/* Our Products */

#my-products {
  background-image: url("/assets/img/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#my-products h2 {
  font-size: 44px;
  font-weight: 700;
  color: var(--bg-color);
}

#my-products h6 {
  visibility: hidden !important;
  font-size: 24px;
  font-weight: 600;
  color: var(--bg-color);
}

/* My Keyboard Section */
.keyboard-box {
  position: relative;
  background-color: var(--headline-color);
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;
}

.keyboard-box::before {
  content: "VARIAN";
  position: absolute;
  color: var(--button-color);
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.keyboard-box:hover::before {
  opacity: 0.2;
}

.keyboard-box::after {
  content: "RASA";
  position: absolute;
  color: var(--button-color);
  font-size: 4.3em;
  font-weight: bold;
  font-style: italic;
  top: 350px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.keyboard-box:hover::after {
  opacity: 0.2;
}

.keyboard-name {
  position: absolute;
  top: 0;
  width: 100%;
  color: var(--button-color);
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transform: translate3d(0, 0, 50px);
  transition: 0.5s;
}

.keyboard-box:hover .keyboard-name {
  top: 20px;
  opacity: 1;
}

.keyboard-box:hover {
  opacity: 1;
  bottom: 20px;
}

.keyboard-img {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate3d(-50%, -52%, 80px);
  max-width: 200px;
  transition: 0.5s;
  z-index: 2;
}

.keyboard-box:hover .keyboard-img {
  transform: translate3d(-50%, -52%, 100px) rotate(5deg) scale(1.2);
}

/* Products End */

/* Maps */

#myMaps h1 {
  font-size: 44px;
  font-weight: 700 !important;
  color: var(--headline-color);
}

.my-maps {
  border-radius: 20px !important;
  min-width: 100% !important;
  height: 350px;
}

/* Maps End */

/* Footer */

#myFooter {
  background-image: url(/assets/img/footer-bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-text {
  font-family: var(--font-2);
  color: var(--bg-color);
}

/* Footer End */
